import usb.rc # Renamed init.p1.usb.rc, we can't use init*.rc because the build script will delete it

on init

    export PATH /sbin
    export LD_LIBRARY_PATH .:/sbin

on fs

    # set up lvm volumes
    exec /lvm/sbin/lvm vgscan --mknodes --ignorelockingfailure
    exec /lvm/sbin/lvm vgchange -aly --ignorelockingfailure
    restorecon /dev/mapper/lvpool-system
    mount ext4 /dev/lvpool/system /system

on post-fs

    # vibrator
    insmod /system/lib/modules/vibrator.ko

    # disable lpm
    write /sys/class/power_supply/battery/charging_mode_booting 0

    # touch rotate
    write /sys/devices/platform/s3c2440-i2c.2/i2c-2/2-004a/pivot 0

